{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Privacy and Policy</title>
    <style>
          body {
            margin: 0;
            padding: 0;
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        }
        .heading {
        background-color:cornflowerblue;
        color:white;
        text-align: center;
        margin-top: 2rem;
        height: 3.4rem;

        }
        .heading1 {
        margin-left: 5rem;
        margin-top: 7rem;
        color: cornflowerblue;
        font-size: 3rem;
        }
        p {
        font-size: 1.5rem;
        margin-left: 10rem;
        margin-right:10rem;
        font-weight: lighter;
        }
        li {
        font-size: 1.5rem;
        margin-left: 10rem;
        margin-right:10rem;
        font-weight: lighter;
        }
    </style>
</head>
<body>
    <h1 class="heading">Privacy and Policy</h1>
    <div >
             <h1 class="heading1">Privacy Policy</h1>
                    <p>This Privacy Policy describes Our policies and procedures on the collection, use and disclosure of Your information when You use the Service and tells You about Your privacy rights and how the law protects You.<br><br>We use Your Personal data to provide and improve the Service. By using the Service, You agree to the collection and use of information in accordance with this Privacy Policy.
                         If you disagree with this Privacy Policy, you must not use the Website and its services. <br><br>In these Policy "we", "us", "our" , "the company" and "GULFJOBS" refers to www.GulfJobs.com, "Services" means any products, services, content, technologies, applications and services offered by us to you,
                          "Platform" means the websites, mobile apps, mobile sites or other online properties through which we offer our Services, and "you" and "your" refers to you, the users of Our Website. <br><br>GULFJOBS may modify this Policy at any time, and such modifications shall be effective immediately upon posting of the modified agreement.<br><br><strong>What Information we collect</strong>
                        <br><br>Personal Data:<br>These information may include names, addresses, telephone numbers, e-mail addresses, education, employment history, CVs and any other information required to provide you with job placement services. <br><br>Details about your company, including the name, address, and nature of the business.<br><br>Usage Data:<br>
                        We collect certain information automatically when you visit GulfJobs website or its mobile applications. This information includes:<br><br>
                        Your IP address, device ID, operating system, browser type, browser version, the pages You visit in our website, the time and date of Your visit, the time spent on those pages and other diagnostic data.<br><br>
                        We may also collect information that Your browser sends whenever You visit our Services or when You access the Service by or through a mobile device.<br><br><strong>Cookies</strong><br>This site uses cookies to store certain information on your device to improve our service to you and to provide certain features that you may find useful. They are used to deliver a customised and personalised experience to you.<br><br> </p>
                        <p><strong>Use of Your Personal Data<br></strong>The Company may use Personal Data for the following purposes:</p>
                        <ul>
                                <li>
                                  <strong>To provide and maintain our Service</strong>, including to monitor the usage of our Service.
                                </li>
                                <li>
                                  <strong>To manage Your Account:</strong> to manage Your registration as a user of the Service. The Personal Data You provide can give You access to different functionalities of the Service that are available to You as a registered user.
                                </li>
                                <li>
                                  <strong>For the performance of a contract:</strong> the development, compliance and undertaking of the purchase contract for the products, items or services You have purchased or of any other contract with Us through the Service.
                                </li>
                                <li>
                                <strong>To contact You:</strong> To contact You by email, telephone calls, SMS, or other equivalent forms of electronic communication, such as a mobile application's push notifications regarding updates or informative communications related to the functionalities, products or contracted services, including the security updates, when necessary or reasonable for their implementation.
                                </li>
                                <li>
                                   <strong>To provide You</strong> with news, special offers and general information about other goods, services and events which we offer that are similar to those that you have already purchased or enquired about unless You have opted not to receive such information.
                                </li>
                                <li>
                                  <strong>To manage Your requests:</strong> To attend and manage Your requests to Us.
                                </li>
                                <li>
                                    <strong>For business transfers:</strong> We may use Your information to evaluate or conduct a merger, divestiture, restructuring, reorganization, dissolution, or other sale or transfer of some or all of Our assets, whether as a going concern or as part of bankruptcy, liquidation, or similar proceeding, in which Personal Data held by Us about our Service users is among the assets transferred.
                                </li>
                                <li>
                                     <strong>For other purposes</strong>: We may use Your information for other purposes, such as data analysis, identifying usage trends, determining the effectiveness of our promotional campaigns and to evaluate and improve our Service, products, services, marketing and your experience.
                                </li>
                                </ul>
                                <p>We may share Your personal information in the following situations:</p>
                        <ul>
                                <li><strong>With Employers:</strong> When you apply to a job or when you make your resume visibility to public or by replying to a message from an employer, you consent to the disclosure of your information to that employer.</li>
                                <li><strong>With Public Authorities:</strong> We may share your personal information if required to do so by law or in response to valid requests by public authorites (a court or government agency).</li>
                                <li><strong>With Service Providers:</strong> We may share Your personal information with Service Providers to monitor and analyze the use of our Service, for payment processing, to contact You.</li>
                                <li><strong>For business transfers:</strong> We may share or transfer Your personal information in connection with, or during negotiations of, any merger, sale of Company assets, financing, or acquisition of all or a portion of Our business to another company.</li>
                                <li><strong>With Affiliates:</strong> We may share Your information with Our affiliates, in which case we will require those affiliates to honor this Privacy Policy. Affiliates include Our parent company and any other subsidiaries, joint venture partners or other companies that We control or that are under common control with Us.</li>
                                <li><strong>With business partners:</strong> We may share Your information with Our business partners to offer You certain products, services or promotions.</li>
                                <li><strong>With other users:</strong> when You share personal information or otherwise interact in the public areas with other users, such information may be viewed by all users and may be publicly distributed outside.</li>
                                <li><strong>With Your consent</strong>: We may disclose Your personal information for any other purpose with Your consent.</li>
                </ul>
           <p> <strong>Retention of Your Personal Data</strong></p>
            <p>  The Company will retain Your Personal Data only for as long as is necessary for the purposes set out in this Privacy Policy. We will retain and use Your Personal Data to the extent necessary to comply with our legal obligations (for example, if we are required to retain your data to comply with applicable laws), resolve disputes, and enforce our legal agreements and policies.<br><br>
                The Company will also retain Usage Data for internal analysis purposes. Usage Data is generally retained for a shorter period of time, except when this data is used to strengthen the security or to improve the functionality of Our Service, or We are legally obligated to retain this data for longer time periods.<br><br><strong>
                    Security of Your Personal Data</strong><br>The security of Your Personal Data is important to Us, but remember that no method of transmission over the Internet, or method of electronic storage is 100% secure. While We strive to use commercially acceptable means to protect Your Personal Data, We cannot gurantee its absolute security.<br><br><strong>
                Links to Other Websites</strong><br>Our Service may contain links to other websites that are not operated by Us. If You click on a third party link, You will be directed to that third party's site. We strongly advise You to review the Privacy Policy of every site You visit.<br><br>We have no control over and assume no responsibility for the content, privacy policies or practices of any third party sites or services.<br><br><strong>
                Job Seeker's Profile &amp; CV Visibility </strong><br>You can control the visibility of your profile/cv by setting the profile visibility option such as Public, Hidden &amp; Deactivate.<br><br>Public profile can be viewed by anyone with access to our profile &amp; cv database and employers whom you applied to
                We cannot control the privacy or use of resumes that have been viewed or downloaded by others. You should not post any sensitive data that you would not want made public. <br><br></p>
                <p> Hidden profiles will not be visible in our profile &amp; cv database. Your profile will only be shared with employers whom you have applied to.<br><br>If you do not want anyone to view or download your profile and cv then set the profile visibilty option to deactivate. But we cannot control the use of your profile and resume that have been viewed and downloaded prior to this setting. <br><br><p></p>
                <p>  <strong>   Contact Us</strong><br>If you have any questions about these Privacy Policy, You can contact us<br>By visiting this page on our website: <a href="../../contact-us">https://www.gulfjobs.com/contact-us</a><br>
                    By sending us an email: support [at]  <strong> Jannat.com</strong></p></p>
    </div>
  
</body>
</html>